### Loading the SQL database into Pandas, make a histogram and bar chart to compare the average salaries of employees sorted by job title.

#### Call relevant libraries and functions

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from config import DB_USER, DB_PASS

#### Create the SQL engine and read the relevant tables into pandas

In [ ]:
eng = create_engine(f'postgresql://localhost:5432/EmployeesSQL)